@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<h2>Yeni Yazar Ekleme Sayfası</h2>
<br />
@using (Html.BeginForm("AddWriter", "Writer", FormMethod.Post))
{

<div class="form-group">

    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(n => n.WriterName, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterName)
    <br />
    <br />
    @Html.Label("Yazar Soyadı")
    @Html.TextBoxFor(n => n.WriterSurname, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterSurname)
    <br />
    <br />
    @Html.Label("Yazar Maili")
    @Html.TextBoxFor(n => n.WriterMail, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterMail)
    <br />
    <br />
    @Html.Label("Yazar Parolası")
    @Html.TextBoxFor(n => n.WriterPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterPassword)
    <br />
    <br />
    @Html.Label("Yazar Hakkına")
    @Html.TextBoxFor(n => n.WriterAbout, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterAbout)
    <br />
    <br />
    @Html.Label("Yazar Başlığı")
    @Html.TextBoxFor(n => n.WriterTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(n => n.WriterTitle)
    <br />
    <br />
    @*@Html.Label("Yazar Resmi")
        @Html.TextBoxFor(n => n.WriterSurname, new { @class = "form-control" })
        <br />
        <br />*@

    <button class="btn btn-primary">Kaydet</button>
</div>
}

